<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Send Email</title>
</head>
<body>
    <h1>Send Email</h1>
    <h2>Onzecord</h2>
    <p>This is a simple page to test the sending of emails over the API, normally the API is used with POST over the endpoint /send_email</p>
    <p>Swagger is available at /api/docs</p>
    <form id="emailForm" onsubmit="submitForm(event)">
        <label for="to">Recipient's Email:</label><br>
        <input type="email" id="to" name="to"><br>
        <label for="subject">Subject:</label><br>
        <input type="text" id="subject" name="subject"><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Send Email">
    </form>
    <div id="messageContainer"></div>

    <script>
        function submitForm(event) {
            event.preventDefault(); // Prevent default form submission
            const form = document.getElementById('emailForm');
            const formData = new FormData(form);
            const jsonObject = {};

            // Convert form data to JSON object
            formData.forEach((value, key) => {
                jsonObject[key] = value;
            });

            // Send JSON data using fetch
            fetch('/send_email', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonObject)
            })
            .then(response => response.json())
            .then(data => {
                // Handle response
                const messageContainer = document.getElementById('messageContainer');
                if (data.success) {
                    messageContainer.textContent = 'Email sent successfully.';
                } else {
                    messageContainer.textContent = 'Failed to send email. Please try again later.';
                }
                // Clear form fields
                form.reset();
            })
            .catch(error => {
                // Handle error
                console.error('Error:', error);
                const messageContainer = document.getElementById('messageContainer');
                messageContainer.textContent = 'An error occurred. Please try again later.';
            });
        }
    </script>
</body>
</html>
